@import "./utils/_colors.scss";
@import "./utils/breakpoints";

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 9%;
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
    &__text{
        padding: 1rem;
        width: 43%;
        // max-height: 65%;
        // overflow: scroll;
        // scroll-behavior: initial;
        
        @media screen and (max-width: $mobile) {
            margin-top: 15%;
            max-height: 65%;
        }
        &__header{
            font-size: 1.5rem;
            h3{
                line-height: 2rem;
                letter-spacing: .3rem;
                text-transform: uppercase;
            }
            @media screen and (max-width: $mobile) {
                font-size: 12px;
                max-height: 65%;
            }
        }
        &__blurb{
            
            p{
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
            }
        }

    }
    &__images{
        position: relative;
        height: 100%;
        width: 50%;
        
        // @media screen and (max-width: $tablet) {
        //   position: absolute;
        // }
        .__left{
            width: 310px;
            bottom: 0;
            right: 0;
            z-index: 3;
            @media screen and (max-width: $tablet) {
                bottom: 40%;
                box-shadow: 1rem 1rem $black;
                left: 2rem;
                width: 240px;
            }
            @media screen and (max-width: $mobile) {
                // bottom: 38%;
                box-shadow: 1rem 1rem $black;
                left: 2rem;
                width: 210px;
            }
        }
        .__blackBox{
            background: $accent;
            height: 58%;
            width: 64%;
            top: 14%;
            transform: translate(20%);
            @media screen and (max-width: $tablet) {
               display: none;
            }
        }
        .overlay{
            z-index: 5;
            background: rgb(91, 91, 124);
            // background: rgb(131, 67, 67);
            mix-blend-mode: overlay;
        }
    }
    
}