@import "./utils/_colors.scss";
@import "./utils/breakpoints";

.about {
  background-image: url("../Images/squareBlob.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 55rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 4rem 1rem;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: $white;

  @media screen and (max-width: $tablet) {
    flex-direction: row-reverse;
    height: 100vh;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    background-position: left;
    padding-top: 4rem;
    height: 100vh;
  }
  &__text {
    width: 50vw;
    height: 50vh;
    // backdrop-filter: blur(5px);
    color: $white;
    mix-blend-mode: difference;
    padding-top: 2.5rem;
    @media screen and (max-width: $mobile) {
      width: 100%;
      overflow: hidden;
      height: 68%;
      padding-right: 2rem
    }
    &__header {
      font-size: 1.5rem;
      h3 {
        line-height: 2.2rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
      }
      @media screen and (max-width: $mobile) {
        font-size: 23px;
        max-height: 65%;
      }
    }
    &__blurb {
      p {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 300;
        @media screen and (max-width: $mobile) {
          // font-size: 1rem;
          // line-height: 1rem;
          // max-height: 65%;
          font-size: 24px;
          line-height: 2rem;
        }
      }
    }
  }
  &__images {
    position: relative;
    // background-image: url("../Images/orangeBlob.svg");
    padding-right: 1rem;
    right: 3.5rem;
    height: 90vh;
    width: 25vw;
    overflow: hidden;
    @media screen and (max-width: $mobile) {
      height: 35vh;
      width: 100%;
      left: 5rem;
      padding-top: 4rem;
    }
    .__left {
      position: absolute;
      width: 100%;
      // margin-left: 8rem;
      padding-top: 4rem;
      overflow: hidden;
      z-index: 4;
      @media screen and (max-width: $tablet) {
        // right: 4rem;
        // top: 4rem;
        // box-shadow: 1rem 1rem $black;
        width: 240px;
        border-radius: 50%;
        overflow: hidden;
        // right: 5rem;
      }

      @media screen and (max-width: $mobile) {
        // bottom: 38%;
        // box-shadow: 1rem 1rem $black;
        padding-top: 0;
        margin-left: 0;
        width: 150px;
      }
    }
  }
}
