@import "./utils/_colors.scss";
@import "./utils/breakpoints";
.landing {
    position: relative;
    // margin-top: 5rem;
    height: 100vh;
    background-color: $white;
    // border: solid 2px green;
    display: flex;
    align-items: center;
    // z-index: 1;
    transition: all 2s ease-in-out;
    @media  screen and (max-width: $tablet) {
        transition: all 2s ease-in-out;
        background-color: $maroon;
    }
    &__container{
        width: 100%;
        margin: 0 auto;
    }
    &__text {
        font-size: clamp(.5rem, 10vw, 3rem);
        text-transform: uppercase;
        letter-spacing: 40px;
        font-weight: 700;
        color: $white;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        mix-blend-mode: difference;
        z-index: 4;
        @media  screen and (max-width: $tablet) {
            font-size: 49px;
            letter-spacing: 9px;
            z-index: 5;
        }
    }
    &__main-image {
        width: 400px;
        position: relative;
        margin: 0 auto;
        box-shadow: 2rem 3rem $black;
        @media  screen and (max-width: $mobile) {
            display: none;
        }
    }
    &__left-image {
        width: 230px;
        position: absolute;
        left: 4rem;
        top: 5.5rem;
    }
    &__right-image{
        width: 230px;
        position: absolute;
        right: 4rem;
        bottom: 5.5rem;
    }
    &__moreInfo{
        // scroll-behavior: auto;
        // font-weight: 700;
        font-size: 2rem;
        // letter-spacing: 1.5px;
        color: black;
        position: absolute;
        right: 4rem;
        bottom: 3rem;
        @media  screen and (max-width: $mobile) {
            bottom: 3;
            right: 10rem;
        }
    }
  
}
