@import "./utils/_colors.scss";
@import "./utils/breakpoints";
.landing {
    position: relative;
    // margin-top: 5rem;
    height: 100vh;
    background-color: $white;
    // border: solid 2px green;
    display: flex;
    align-items: center;
    // z-index: 3;
    transition: all 2s ease-in-out;
    @media  screen and (max-width: $tablet) {
        transition: all 2s ease-in-out;
        background-color: $maroon;
    }
    &__container{
        width: 100%;
        margin: 0 auto;
    }
    &__text {
        font-size: clamp(.5rem, 10vw, 3rem);
        text-transform: uppercase;
        letter-spacing: 40px;
        font-weight: 700;
        color: $white;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        mix-blend-mode: difference;
        z-index: 9;
        @media  screen and (max-width: $tablet) {
            font-size: 49px;
            letter-spacing: 9px;
        }
    }
    &__main-image {
        width: 400px;
        position: relative;
        margin: 0 auto;
        box-shadow: 15px 15px $maroon;
        @media  screen and (max-width: $mobile) {
            display: none;
        }
    }
    &__left-image {
        width: 230px;
        position: absolute;
        left: 4rem;
        top: 5.5rem;
    }
    &__right-image{
        width: 230px;
        position: absolute;
        right: 4rem;
        bottom: 5.5rem;
    }
    &__moreInfo{
        font-weight: 700;
        font-size: .88rem;
        letter-spacing: 1.5px;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        position: absolute;
        bottom: 4rem;
        @media  screen and (max-width: $mobile) {
            bottom: 0;
            padding: 12rem;
        }
    }
    &__mediaBar{
        position: fixed;
        top: 50%;
        max-width: 25%;
        @media screen and (max-width: $mobile){
            max-width: 100px;
            left: 20rem;
        }
    }
}
