@import "./utils/_colors.scss";
@import "./utils/breakpoints";

#media {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: olive 2px solid;
  justify-content: space-around;
  width: fit-content;
  right: 1rem;
  font-size: 1.4rem;
  z-index: 6;
  // color: white;
  a {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  a:visited {
    color: $black;
  }
  a:hover {
    color: $maroon;
    transform: scale(1.5);
  }

//   svg{
//       color: $white;
//       mix-blend-mode: difference;
//   }
  @media screen and (max-width: $tablet) {
    // z-index: 3;
    // right: 3.5rem;
    top: 4rem;
    a:visited {
      color: $accent;
    }
    a:hover {
      color: $black;
    }
  }
  @media screen and (max-width: $mobile) {
    // flex-direction: row;
    // position: sticky;
    // display: none;
    margin-top: 0;
    font-size: 1.4rem;
    flex-direction: column;
    right: 0;
    top: 0;
  }
}
