@import "./utils/_colors.scss";
@import "./utils/breakpoints";
.header{
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100vw;
    background: $white;
    z-index: 1;
    &__inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 1rem;

        @media screen and (max-width: $tablet){
            // margin: auto;
            // display: none;
        }
    }

    &__logo{
        font-weight: 700;
        font-size: 22px;
        text-decoration: none;
        letter-spacing: .3rem;
        color: $black;
    }

   &__navigation{
        text-transform: uppercase;
        display: flex;
        justify-items: stretch;
        a{
            color: $black;
            letter-spacing: 1.75px;
            text-decoration: none;
            font-size: 0.75rem;
            padding: 0 15px;
            @media screen and (max-width: $tablet){
                // font-size: 1rem;
                display: none;
            }

        }
    }
    @media screen and (max-width: $tablet){
        background: transparent;
    }

}