@import "./utils/_colors.scss";
@import "./utils/breakpoints";
.header{
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100vw;
    // background: $white;
    // border: red 2px solid;
    z-index: 5;
    mix-blend-mode: difference;
    &__inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 2.5rem;

        @media screen and (max-width: $tablet){
            // margin: auto;
            // display: none;
        }
    }

    &__logo{
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        letter-spacing: .3rem;
        color: $white;
        mix-blend-mode: overlay;
        z-index: 6;
        @media screen and (max-width: $tablet){
            // margin: auto;
            // display: none;
        }
    }

   &__navigation{
        text-transform: uppercase;
        display: flex;
        justify-items: stretch;
        a{
            color: $white;
            letter-spacing: 1.75px;
            text-decoration: none;
            font-size: 15px;
            padding: 0 15px;
            @media screen and (max-width: $mobile){
                // font-size: 1rem;
                display: none;
            }

        }
    }
    @media screen and (max-width: $tablet){
        background: transparent;
    }

}