
@import "../styles/base";
// @use 'base/_base.scss';

$font: 'Open Sans', sans-serif;
$fontHeader: 'Permanent Marker', cursive;

html, body{
    font-family: $font;
    font-size: 16px;
}

h1 {
    font-family: $fontHeader;
    color: #83333e;
}
// basic container look up better ones
.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}